@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html,
body {
    margin: 0;
    padding: 0s;
    background: linear-gradient(353deg, rgba(0, 202, 255, 1) 0%, rgba(0, 255, 128, 1) 100%) !important;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;

}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #fff;
    width: 70%;
    height: 560px;
    border-radius: 8px;
    padding: 38px;
    display: flex;
    justify-content: space-around;
    box-shadow: -2px 4px 10px #818181;
}

.content-1 {
    flex-grow: 1;
}

.content-1 h1 {
    text-align: center;
}

.content-2 {
    flex-grow: 8;
    overflow-y: scroll;
}

.content-2::-webkit-scrollbar-track {
    padding: 2px 0;
}

.content-2::-webkit-scrollbar {
    width: 5px;
}

.content-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #838383;

}

.vertical-border {
    border: 1px solid #00000071;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.flx {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.flx-two {
    display: flex;
    justify-content: space-around;

}

.flx-two>li {
    list-style: none;
    cursor: pointer;
}

li {
    overflow: hidden;
}

.remove {
    cursor: pointer;
    transform: translateX(48px);
    transition: 0.5s;
}

#main-content {
    text-transform: capitalize;
}

.active {
    transform: translateX(0px);
    transition: 0.5s;
}

#btn {
    background: linear-gradient(353deg, rgba(0, 202, 255, 1) 0%, rgba(0, 255, 128, 1) 100%);
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
    text-align: center;
}

#btn:hover {
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.336);
    transform: scale(0.95);
}

.input-value {
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 10px;
    border: 0.3px solid gray;
}

.input-value:focus {
    outline: none;
}

.input-value::placeholder {
    font-family: 'Poppins';
}

.check {
    display: none;
    cursor: pointer;
}

.accord label {
    position: relative;
    cursor: pointer;
}

.accord label:before {
    content: ' ';
    padding: 11px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
    vertical-align: middle;
    background: rgb(116, 116, 116);
    border-radius: 20px;
}

.accord input:checked+label:before {
    background-color: rgb(0, 202, 255);
}

.accord input:checked+label:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 8px;
    width: 5px;
    height: 12px;
    border: solid #fff;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}


li {
    list-style: none;
}

.to-do .accord {
    background: rgba(0, 255, 128, 0.158);
    padding: 20px;
    border: 0.5px solid rgba(0, 202, 255, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.material-icons {
    color: rgba(0, 202, 255, 1);
    transition: 0.2s;
}

.material-icons:hover {
    color: rgb(0, 132, 255);
}

.checkin {
    text-decoration: line-through;
}


.splash {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 85vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    font-size: 50px;
    color: rgba(0, 202, 255, 1);
    background-color: #fff;
}

.splash.display-none {
    padding: 0;
    margin: 0;
    opacity: 0;
    text-align: center;
    line-height: 85vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    font-size: 50px;
    color: rgba(0, 202, 255, 1);
    background-color: #fff;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1.2);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@media screen and (max-width: 965px) {
    .splash {
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 85vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 200;
        font-size: 20px;
        color: rgba(0, 202, 255, 1);
        background-color: #fff;
    }

    .content {
        flex-direction: column;
        width: 90%;
    }

    .content-1 {
        margin-bottom: 40px;
    }

    .content-2 .to-do {
        margin-left: -37px;
    }

    .flx {
        justify-content: center;
    }

    .vertical-border {
        display: none;
    }
}